* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

:root {
    --header-height: 75px;
}

.header {
    background-color: #eee;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    justify-content: space-around;
    align-items: center;
    box-shadow:0px 10px 10px #999;
}

.header > * {
    flex-direction: row;
    
}

.logo > img{
    height: 50px;
    width: 50px;
    /* border: 1px solid white; */
    border-radius: 50%;
    box-shadow: 5px 5px 5px #999;
}

.page-title {
    font-family: 'Architects Daughter', cursive;
}

.uil-bars {
    font-size: 2rem;
    color: #999
}

.main {
    margin-top: var(--header-height);
    background-color:lightgoldenrodyellow;
}

.post-card {
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
}

.post-header {
    background-color: gray;
    padding: 2rem;
    border-radius: inherit;
    border-bottom: 1px solid green;
}

.post-img {
    height: 400px;    
}

.post-description {
    border: 1px solid red;
    border-radius: inherit;
}